.my-list
{
    width: 700px;
    height: 730px;
    border:1px solid #000000;
    align-items: center;
    Padding: 10px 20px;
    background-color: #a6e1ec ;
}

.my-list img
{
    width: 200px;
    margin:right;
    vertical-align: middle;
}

.my-list ul
{
    width:595px;
    padding:10px;
    margin-bottom: 5px;
    font-size: 14px;
    border:1px solid #000000;
}
.text
{
    color:#3f51b5;
}
