body
{
    background-color: lightgrey;

    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding:2rem;
}
header,main,aside,footer
{
    background-color: aquamarine;
    padding: 2rem;
    border-radius: 8px;
}
header,footer
{
    width:100%;
}
main
{
    width: 70%;
}
aside
{
width: 20%;
}